<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>ALLIANZ PNB</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'AdminInfo/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'AdminInfo/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'AdminInfo/css/apexcharts.css' %}" rel="stylesheet">
    <link href="{% static 'AdminInfo/css/tooplate-mini-finance.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="home/images/allianzlogo1.png" />
</head>

<body>
<br><br>
                  <div class="custom-block custom-block-balance">
                    <div>
                      {% block content %}
                        <h1>Recruitment / Manage</h1>
                          <table class="account-table table">
                            <form method="post" action="{% url 'signup' %}">
                              {% csrf_token %}
                                <tr>
                                 
                                  <th>Username</th>
                                  <th>Email</th>
                                  <th>Password</th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              {% if not form.instance.id %}
                                <tr>
                                 
                                  <td><input class="form-control" type="text" name="username" id="username" placeholder="les12"></td>
                                  <td><input class="form-control" type="email" name="email" id="email" placeholder="caibal@gmail.com"></td>
                                  <td><input class="form-control" type="password" name="password" id="password" placeholder=""></td>



                                   <td><button class="btn btn-success"  name="save" value="{{ todolist.id }}">Save</button></td>
                                </tr>
                              {% endif %}
                              {% for todolist in todolists %}
                                <tr>
                              {% if form.instance.id == todolist.id %}
                              {% include 'save.html' %}
                              {% else %}
                                  
                                  <td>{{ todolist.username }}</td>
                                  <td>{{ todolist.email }}</td>
                                  <td>{{ todolist.password }}</td>
                                  
                                  <td>
                                    <button class="btn btn-primary" formnovalidate name="edit" value="{{ todolist.id }}">Edit</button>
                                    
                                  </td>
                                  <td><button class="btn btn-danger" formnovalidate name="delete" value="{{ todolist.id }}">Delete</button></td>
                              {% endif %}
                                </tr>
                              {% endfor %}
                            </form>
                          </table>
                              {% endblock %}
                    </div>
                  </div>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'AdminInfo/js/jquery.min.js' %}"></script>
<script src="{% static 'AdminInfo/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'AdminInfo/js/apexcharts.min.js' %}"></script>
<script src="{% static 'AdminInfo/js/custom.js' %}"></script>

</body>

</html>
